.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 390px;
    padding: 35px 30px;
    border-radius: 10px;
    border: 1px solid var(--1, #01384d);
    // opacity: 0.30000001192092896;
    background: #fff;

    h2 {
      margin-bottom: 40px;
      color: #01384d;
      text-align: center;
      font-family: sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    input {
      padding: 15px 35px;
      font-size: 20px;
      border-radius: 7px;
      border: 1px solid var(--1, #01384d);
      opacity: 0.5;
      background: #fff;
    }

    .login_box {
      position: relative;

      .users_icons {
        position: absolute;
        left: 10px;
        top: 17px;
        font-size: 20px;
      }
    }

    button {
      width: 100%;
      margin-top: 35px;
      background-color: #01384d;
      padding: 17px;
      border: none;
      color: #fff;
      text-align: center;
      font-family: sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border-radius: 7px;
      opacity: 0.5;


      &:hover{
        background-color: #03141b;
      }
    }
  }
}