.table{
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  color: #FFFFFF;
  padding: 10px;
  background: #262626;
  border-radius: 8px;

  th {
    padding: 10px 0;
    text-align: start;
  }

  tr{
    border: 1px solid red !important;
  }
}

.table__row{
  color: red;
}

.export__file{
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: end;

  label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
  }

  input{
    display: none;
  }

}