.table__box {
  margin: 20px;
  
}

table{
  text-align: center;
  border: 1px solid black;
}

.table__head {
  background-color: #01384d !important;

  th {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
}


