@mixin them-light{
  --bg-main: #0fae96;
  --bg-body: #121212;
  --component-color: #262626;
  --bg-conten:#002A66;
  --blue1: #002A66;
  --blue2: #003681;
  --type-primary:#323130;
  --type-secondary: #605E5C;
  --text-diseblad: #A19F9D;
  --body-divider:#EDEBE9;
  --input-border:#8A8886;
  --input-hover:#8A8886;
  --bg-table: #01384D;
}