.sendContext {
  width: 90%;
  margin: 0 auto;
  padding: 20px;

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    button{
      padding: 10px;
      border-radius: 5px;

    }
  }

  .card {
    border-radius: .5rem;
  }

  .table-scroll {
    border-radius: .5rem;
  }

  thead {
    top: 0;
    position: sticky;
  }


  .search-icon{
    position: absolute;
    top: 5px;
    left: 15px;
  }
}